
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

main{
    display: flex;
}

.fort-list {
    width: 25%;
    height: 100vh;
    overflow: auto;
    background: whitesmoke;

}
#map {
    height: 100vh;
    width: 75%;

}
.fort-list .heading {
    background: #ff6900;
    color: #fff;
}
.fort-list .heading h2 {
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: #ff6900;
    border-radius: 0;
}

.fort-list ul.list{
    padding: 0 1rem;
    list-style: none;
}

.fort-list .fort-item {
    margin: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1rem;
}

.fort-list li:last-child .fort-item {
    border: none;
}

.fort-list .fort-item a {
    text-decoration: none;
    font-size: 20px;
    color: orange;
    font-weight: 700;
}

.fort-list .fort-item p {
    font-size: 14px;
    color: #404040;

}

.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;

}
.leaflet-popup-content-wrapper h4 {
    padding: 16px;
    background: #ff6804;
    color: #fff;
    font-size: 16px;
}

.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;;
}

.leaflet-popup-content-wrapper p2 {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
    padding: 16px;
    padding-top: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
    color: #ff6808;
    font-size: 14px;
}